doctype html
html
  head
    title nearby
    meta(charset='utf-8')
    meta(name='author', content='Bodo Kaiser')
    meta(name='keywords', content='nearby, websockets, geolocation')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
